<h2>Viet Hoa Chu Cai Dau Cua Chuoi</h2>
<form asp-action="CapitalizeOneFirstCharacter">
    <label>Nhap Chuoi</label>
    <input type="text" name="StrInput" />
    <input type="submit" value="Gui" />
</form>
<h2>@ViewBag.sent4</h2>
