<h2>Viet Hoa Chuoi</h2>
<form asp-action="Lowertoupper">
    <label>Nhap Chuoi</label>
    <input type="text" name="StrInput" />
    <input type="submit" value="Gui" />
</form>
<h2>@ViewBag.sent2</h2>
