<h2>Bo Dau Tieng Viet</h2>
<form asp-action="RemoveVietnameseAccents">
    <label>Nhap Chuoi</label>
    <input type="text" name="StrInput" />
    <input type="submit" value="Gui" />
</form>
<h2>@ViewBag.sent5</h2>