<h2>Viet Thuong Chuoi</h2>
<form asp-action="Uppertolower">
    <label>Nhap Chuoi</label>
    <input type="text" name="StrInput" />
    <input type="submit" value="Gui" />
</form>
<h2>@ViewBag.sent3</h2>

