<h2>Xoa khoang trong</h2>
<form asp-action="Whitespace">
    <label>Nhap Chuoi</label>
    <input type="text" name="StrInput" />
    <input type="submit" value="Gui" />
</form>
<h2>@ViewBag.sents</h2>